@model Project_3.Models.CANDIDATES
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Reset Password</h1>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <b>@ViewBag.Message</b>
                        </div>
                    }
                    <div class="alert alert-primary" role="alert">
                        <p>Username: <b>@Html.DisplayFor(c => c.Username)</b></p>
                    </div>
                    @using (Html.BeginForm("ResetPassword", "Candidate", FormMethod.Post, new { @class = "forms-sample" }))
                    {
                        <div class="form-group">
                            <label for="pass">Reset Password:</label>
                            <input type="password" class="form-control" name="pass" placeholder="Password">
                            <div id="eye">
                                <i class="mdi mdi-eye"></i>
                            </div>
                            <div>
                                @Html.ValidationMessage("pass", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-inverse-primary btn-fw">Save</button>
                        @Html.ActionLink("Cancel", "", "Candidate", new { area = "Admin" }, new { @class = "btn btn-inverse-secondary btn-fw" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>